.inspirationTitle {
  padding: 18px 16px;
  margin: 10px 0;
  font-size: 20px;
  background-color: #000;
  color: #fff;
}

.inspirationContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
  justify-content: space-between;
}

.inspirationContainer img {
  /* padding: 0 8px; */
  width: 172px;
  height: 115px;
}
