.container {
  margin: 32px 0;
  background-color: #fff;
}

.category {
  padding: 18px 16px;
  margin: 10px 0;
  font-size: 20px;
  background-color: #000;
  color: #fff;
}

.postCards div {
  padding: 8px 16px;
}

.postCards postCard {
  display: flex;
}

.postCard {
  display: flex;
  flex-direction: row;
}

.postCard img {
  width: 50px;
  height: 55.75px;
}

.postCard span {
  display: flex;
  /* flex-direction: row; */
}

/* .post {
  display: flex;
  flex-direction: row;
} */
